<div class="wrapper">
    <app-header></app-header>
    <div class="donate-content">
      <!-- ======= About Us Section ======= -->
      <section class="about services">
        <div class="row">
          <div class="col-md-12 page-title abt-img mb-4">
            Children
          </div>
        </div>
        <div class="container">
          <div class="help-section">
              <h2 class="help-title">Helped Childrens</h2>
              <p>Millions of children around the world are in need of a loving family. As a full-service agency</p>
              <span class="xs-separetor v3"></span>
          </div>
          <div class="row mt-5 mb-5">
              <div class="col-md-3">
                  <div class="card card-donate">
                      <img src="assets/img/images/baby_1.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h4 class="card-title">Julian Dow</h4>
                        <h6 class="card-title">New York, USA</h6>
                      </div>
                    </div>
              </div>
              <div class="col-md-3">
                  <div class="card card-donate">
                      <img src="assets/img/images/baby_2.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h4 class="card-title">Julian Dow</h4>
                        <h6 class="card-title">New York, USA</h6>
                      </div>
                    </div>
              </div>
              <div class="col-md-3">
                  <div class="card card-donate">
                      <img src="assets/img/images/baby_3.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h4 class="card-title">Julian Dow</h4>
                        <h6 class="card-title">New York, USA</h6>
                      </div>
                    </div>
              </div>
              <div class="col-md-3">
                  <div class="card card-donate">
                      <img src="assets/img/images/baby_4.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h4 class="card-title">Julian Dow</h4>
                        <h6 class="card-title">New York, USA</h6>
                      </div>
                    </div>
              </div>
          </div>
          <div class="row mt-5 mb-5">
              <div class="col-md-3">
                  <div class="card card-donate">
                      <img src="assets/img/images/baby_5.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h4 class="card-title">Julian Dow</h4>
                        <h6 class="card-title">New York, USA</h6>
                      </div>
                    </div>
              </div>
              <div class="col-md-3">
                  <div class="card card-donate">
                      <img src="assets/img/images/baby_6.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h4 class="card-title">Julian Dow</h4>
                        <h6 class="card-title">New York, USA</h6>
                      </div>
                    </div>
              </div>
              <div class="col-md-3">
                  <div class="card card-donate">
                      <img src="assets/img/images/baby_7.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h4 class="card-title">Julian Dow</h4>
                        <h6 class="card-title">New York, USA</h6>
                      </div>
                    </div>
              </div>
              <div class="col-md-3">
                  <div class="card card-donate">
                      <img src="assets/img/images/baby_8.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h4 class="card-title">Julian Dow</h4>
                        <h6 class="card-title">New York, USA</h6>
                      </div>
                    </div>
              </div>
          </div>
      </div>
  </section>
 
    </div>
    <app-footer></app-footer>
  </div>
  