<div class="wrapper">


<div class="modal-container-wrap">
  <div id="modal-container">
    <div class="modal-background">
      <div class="modal " id="first">

        <img src="assets/img/images/s1.jpg" class="card-img-top" alt="..." class="model-image">
        <h4>Gayathri Senthilkumar</h4>
        <hr>
        <div id="centent-divider" >                      
                      
          <p>Gayathri Senthilkumar is currently pursuing her 9th standard. She comes from a remote village near Pennagaram in Dharmapuri district and is supported by a single mother and a younger brother. Her mother works as an assistant in a local clinic and her family has a monthly income of only Rs. 4000 (~50 Euros). </p>

          <p>She studied in Tamil medium till 5th standard, then moved to English medium in a government high school. Since June 2017, from her 8th standard, she is sponsored by Sitranu Foundation. </p>

          <p>She aspires to be an IAS officer and we truly believe she will succeed.</p>
          </div>
      </div>

      <div class="modal " id="second">

        <img src="assets/img/images/s2.jpg" class="card-img-top" alt="..." class="model-image">
        <h4>Nandhini Venkatesan</h4>
        <hr>
        <div id="centent-divider" >                      
                      
          <p>Nandhini Venkatesan is currently pursuing her 10th standard. She comes from Pennagaram in Dharmapuri district and is supported by her parents and a younger brother. Her family has a monthly income of Rs. 10,000 (~130 Euros) and cannot afford her school education.</p>


          <p>She studied in a government high school until her 8th standard. From her 9th standard in June 2017, she is fully sponsored by Sitranu Foundation.</p>
          </div>
      </div>


    </div>
  </div>
</div>







    <app-header></app-header>
    <div class="donate-content">
      <!-- ======= About Us Section ======= -->
      <section class="about services">
        <div class="row">
          <div class="col-md-12 page-title abt-img mb-4">
            Children
          </div>
        </div>
        <div class="container">
          <div class="help-section">
            <p>Sponsorship for the academic year 2020 has started. Please fill the application form, scan and send it to hello@sitranu-foundation.org. Click <a href="assets/img/images/StudentApplicationForm.pdf">here</a>  to download the application form.</p>
              <span class="xs-separetor v3"></span>
          </div>
          <div class="row mt-5 mb-5 d-flex justify-content-center">
              <div class="col-md-3">
                  <div class="card card-donate"  id="one" data-id=1>
                      <img src="assets/img/images/s1.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Gayathri Senthilkumar
                        </h5>
                      </div>
                    </div>
              </div>
              <div class="col-md-3">
                  <div class="card card-donate"  id="one" data-id=2>
                      <img src="assets/img/images/s2.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Nandhini Venkatesan
                        </h5>
                      </div>
                    </div>
              </div>
           
              
          </div>
          
      </div>
  </section>
 
    </div>
    <app-footer></app-footer>
  </div>
  