<section class="footer p-3">
    <div class="row px-md-5  footer">
       <div class="col-md-3 pt-5">
          <p class="footer-link-head">About Us</p>
          <p class="footer-sub-txt">In 1996, a dedicated educator from New York, Sinok Park, founded The Best Kindergarten for working parents in New York metropolitan area. </p>
       </div>
       <div class="col-md-3 pt-5 col-6">
          <p class="footer-link-head">Quick Links</p>
          <div class="footer-sub-txt">Our Kindergarten</div>
          <div class="footer-sub-txt">Latest News</div>
          <div class="footer-sub-txt">Upcoming Events</div>
          <div class="footer-sub-txt">Contacts</div>
       </div>
       <div class="col-md-3 pt-5 col-6">
          <p class="footer-link-head">Keep In Touch</p>
          <div class="footer-sub-txt">YouTube</div>
          <div class="footer-sub-txt">Twitter</div>
          <div class="footer-sub-txt">Instagram</div>
          <div class="footer-sub-txt">Snapchat</div>
       </div>
       <div class="col-md-3 pt-5">
          <p class="footer-link-head">Contact Us</p>
          <div class="footer-sub-txt "><i class="fa fa-map-marker footer-ico"></i>19, 29th St, Nanganallur, Chennai, Tamil Nadu 600061</div>
          <div class="footer-sub-txt pt-md-3"><i class="fa fa-phone footer-ico"></i>099520 06993</div>
          <div class="footer-sub-txt pt-md-3"><i class="fa fa-envelope footer-ico"></i>chiselmontessori@gmail.com</div>
          <div class="footer-sub-txt pt-md-3"><i class="fa fa-globe footer-ico"></i>Website: <a href="http://www.chiselmontessori.com/">http://chisel Montessori school.com</a></div>
       </div>
       <div class="col-md-12 pt-md-5">
          <p class="copyright">Privacy Policy <span class="copy-right-txt">/ This is a sample website - cmsmasters © 2019 / All Rights Reserved</span></p>
       </div>
    </div>
 </section>