<section class="footer p-3">
    <div class="row px-md-5  footer">
       <div class="col-md-3 pt-5">
          <p class="footer-link-head">About Us</p>
          <p class="footer-sub-txt">Sitranu Foundation is a community-based, registered charity trust, focussing primarily on providing quality education for students hailing from villages with inadequate schools and from a poor economic background.</p>
       </div>
       <div class="col-md-3 pt-5 col-6">
          <p class="footer-link-head">Quick Links</p>
          <div class="footer-sub-txt footer-sub-txt1" (click)="redirect('about')" >What We Are</div>
          <div class="footer-sub-txt footer-sub-txt1" (click)="redirect('history')" >What We Do</div>
          <div class="footer-sub-txt footer-sub-txt1" (click)="redirect('donate')" >Donate</div>
          <div class="footer-sub-txt footer-sub-txt1" (click)="redirect('event')" >Event</div>
          <div class="footer-sub-txt footer-sub-txt1" (click)="redirect('children')" >Student</div>
          <div class="footer-sub-txt footer-sub-txt1" (click)="redirect('contact')" >Contact</div>
       </div>
       <div class="col-md-3 pt-5 col-6">
         <p class="footer-link-head">Keep In Touch</p>
         <div class="footer-sub-txt">YouTube</div>
         <div class="footer-sub-txt">Twitter</div>
         <div class="footer-sub-txt">Instagram</div>
         <div class="footer-sub-txt">Snapchat</div>
      </div>

       <div class="col-md-3 pt-5">
          <p class="footer-link-head">Contact Us</p>
          
          <div class="footer-sub-txt pt-md-3"><i class="fa fa-envelope footer-ico"></i>sitranufoundation@gmail.com</div>
          
       </div>
       <div class="col-md-12 pt-md-5">
          <p class="copyright">Privacy Policy <span class="copy-right-txt">Copyright ©2020 All rights reserved </span></p>
       </div>
    </div>
 </section>