<div class="wrapper">
  <app-header></app-header>
  <div class="event-content">
    <!-- ======= About Us Section ======= -->
    <section class="about services">
      <div class="row">
        <div class="col-md-12 page-title abt-img mb-4">
          Events
        </div>
     </div>
     <div class="row px-5 py-5">
        <div class="mnth-txt col-md-12 px-md-5 text-lightblack">
           <p class="mnt-txt pl-md-5">January 2019</p>
        </div>
        <div class="col-md-12 px-md-5 py-5">
           <div class="row  px-md-5">
              <div class="col-md-3"><img src='assets/img/images/e1.jpg' class="event-image"></div>
              <div class="col-md-9">
                 <div class="evnt-title text-lightblack">Day of Knowledge</div>
                 <div class="evnt-sub"><i class="fa fa-clock-o txt-ligtred  pr-3"></i>January 1 - December 31</div>
                 <div class="evnt-sub"><i class="fa fa-map-marker txt-ligtred pr-3"></i><span class="txt-ligtred">Central Park </span>, Brooklyn, NY 10036 New York, United States</div>
                 <div class="evnt-sub"><i class="fa fa-dollar txt-ligtred pr-3"></i>$10</div>
                 <div class="evnt-sub">Cras dapibus ullamcorper dictum. Viva>mus nec erat placerat felis scelerisque porttitor in ac turpis</div>
                 <div class="evnt-subt-read evnt-sub txt-ligtred" (click)="redirect('blog')">Find Out More</div>
              </div>
           </div>
        </div>
        <div class="col-md-12 px-md-5 py-5">
           <div class="row  px-md-5">
              <div class="col-md-3"><img src='assets/img/images/e2.jpg' class="event-image"></div>
              <div class="col-md-9">
                 <div class="evnt-title text-lightblack">
                    Hello, Autumn!
                 </div>
                 <div class="evnt-sub"><i class="fa fa-clock-o txt-ligtred  pr-3"></i>January 1 - December 31</div>
                 <div class="evnt-sub"><i class="fa fa-map-marker txt-ligtred pr-3"></i><span class="txt-ligtred">Central Park </span>, Brooklyn, NY 10036 New York, United States</div>
                 <div class="evnt-sub"><i class="fa fa-dollar txt-ligtred pr-3"></i>$10</div>
                 <div class="evnt-sub">Cras dapibus ullamcorper dictum. Viva>mus nec erat placerat felis scelerisque porttitor in ac turpis</div>
                 <div class="evnt-subt-read evnt-sub txt-ligtred" (click)="redirect('blog')">Find Out More</div>
              </div>
           </div>
        </div>
        <div class="col-md-12 px-md-5 py-5">
           <div class="row  px-md-5">
              <div class="col-md-3"><img src='assets/img/images/e3.jpg' class="event-image"></div>
              <div class="col-md-9">
                 <div class="evnt-title text-lightblack">
                    Day of Love, Family and Fidelity
                 </div>
                 <div class="evnt-sub"><i class="fa fa-clock-o txt-ligtred  pr-3"></i>January 1 - December 31</div>
                 <div class="evnt-sub"><i class="fa fa-map-marker txt-ligtred pr-3"></i><span class="txt-ligtred">Central Park </span>, Brooklyn, NY 10036 New York, United States</div>
                 <div class="evnt-sub"><i class="fa fa-dollar txt-ligtred pr-3"></i>$10</div>
                 <div class="evnt-sub">Cras dapibus ullamcorper dictum. Viva>mus nec erat placerat felis scelerisque porttitor in ac turpis</div>
                 <div class="evnt-subt-read evnt-sub txt-ligtred" (click)="redirect('blog')">Find Out More</div>
              </div>
           </div>
        </div>
        <div class="col-md-12 px-md-5 py-5">
           <div class="row  px-md-5">
              <div class="col-md-3"><img src='assets/img/images/e4.jpg' class="event-image"></div>
              <div class="col-md-9">
                 <div class="evnt-title text-lightblack">
                    Our Merry Summer!
                 </div>
                 <div class="evnt-sub"><i class="fa fa-clock-o txt-ligtred  pr-3"></i>January 1 - December 31</div>
                 <div class="evnt-sub"><i class="fa fa-map-marker txt-ligtred pr-3"></i><span class="txt-ligtred">Central Park </span>, Brooklyn, NY 10036 New York, United States</div>
                 <div class="evnt-sub"><i class="fa fa-dollar txt-ligtred pr-3"></i>$10</div>
                 <div class="evnt-sub">Cras dapibus ullamcorper dictum. Viva>mus nec erat placerat felis scelerisque porttitor in ac turpis</div>
                 <div class="evnt-subt-read evnt-sub txt-ligtred" (click)="redirect('blog')">Find Out More</div>
              </div>
           </div>
        </div>
        <div class="col-md-12 px-md-5 py-5">
           <div class="row  px-md-5">
              <div class="col-md-3"><img src='assets/img/images/e5.jpg' class="event-image"></div>
              <div class="col-md-9">
                 <div class="evnt-title text-lightblack">Birthday Kindergarten</div>
                 <div class="evnt-sub"><i class="fa fa-clock-o txt-ligtred  pr-3"></i>January 1 - December 31</div>
                 <div class="evnt-sub"><i class="fa fa-map-marker txt-ligtred pr-3"></i><span class="txt-ligtred">Central Park </span>, Brooklyn, NY 10036 New York, United States</div>
                 <div class="evnt-sub"><i class="fa fa-dollar txt-ligtred pr-3"></i>$10</div>
                 <div class="evnt-sub">Cras dapibus ullamcorper dictum. Viva>mus nec erat placerat felis scelerisque porttitor in ac turpis</div>
                 <div class="evnt-subt-read evnt-sub txt-ligtred" (click)="redirect('blog')">Find Out More</div>
              </div>
           </div>
        </div>
        <div class="col-md-12 px-md-5 py-5">
           <div class="row  px-md-5">
              <div class="col-md-3"><img src='assets/img/images/e2.jpg' class="event-image"></div>
              <div class="col-md-9">
                 <div class="evnt-title text-lightblack">Let’s All Do Fun Things</div>
                 <div class="evnt-sub"><i class="fa fa-clock-o txt-ligtred  pr-3"></i>January 1 - December 31</div>
                 <div class="evnt-sub"><i class="fa fa-map-marker txt-ligtred pr-3"></i><span class="txt-ligtred">Central Park </span>, Brooklyn, NY 10036 New York, United States</div>
                 <div class="evnt-sub"><i class="fa fa-dollar txt-ligtred pr-3"></i>$10</div>
                 <div class="evnt-sub">Cras dapibus ullamcorper dictum. Viva>mus nec erat placerat felis scelerisque porttitor in ac turpis</div>
                 <div class="evnt-subt-read evnt-sub txt-ligtred" (click)="redirect('blog')">Find Out More</div>
              </div>
           </div>
        </div>
     </div>
  
    </section>
  </div>
  <app-footer></app-footer>
</div>
