<div class="wrapper">
  <app-header></app-header>
  <div class="blog-content">
    <!-- ======= About Us Section ======= -->
    <section id="about" class="about-detail services">
      <div class="blog">
  <div class="header">
    <h2>This is a blog</h2>
    <h4>A blog about how to manage blogs efficiently.</h4>
  </div>
  <div class="blog-image">
    <img src="https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="{blog_related_pic}">
  </div>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt error quod magnam veniam cumque placeat doloribus! Nesciunt dolore, amet, fugit placeat quas, laborum ipsa temporibus atque sapiente nobis qui voluptates.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi illum dignissimos enim et, similique esse sed odio sequi magni, aspernatur deleniti ex. Iusto magnam dignissimos magni numquam accusantium ratione quisquam!</p>
    <div class="content-img">
      <img src="https://images.unsplash.com/photo-1560472354-b33ff0c44a43?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="analytics">
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam alias provident enim omnis fugiat nihil? Non ipsam voluptas iusto perferendis, impedit sequi. Earum, in adipisci aperiam harum molestiae vitae ipsam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos rerum culpa, cumque facilis possimus dolores illum nostrum dolorem sed dicta. In temporibus voluptatem animi magni modi numquam sunt non quis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat accusamus earum placeat voluptates aut optio, doloremque itaque sed dolore maiores officia debitis libero corporis excepturi dolorum distinctio asperiores beatae odio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit pariatur facere vel, accusantium dicta quo natus dolorum blanditiis enim commodi est? Ex, nobis exercitationem quaerat possimus sequi sint molestias consectetur.</p>
    <div class="steps">
      <h3>Follow the following simple steps to get your work done:</h3>
      <ul>
        <li class="steps-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis eum, cumque necessitatibus nesciunt placeat qui? Accusantium, reiciendis! Laudantium sed reprehenderit, odio quisquam doloremque et, rerum harum magni modi ut cum?</li>
        <li class="steps-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis eum, cumque necessitatibus nesciunt placeat qui? Accusantium, reiciendis! Laudantium sed reprehenderit, odio quisquam doloremque et, rerum harum magni modi ut cum?</li>
        <li class="steps-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis eum, cumque necessitatibus nesciunt placeat qui? Accusantium, reiciendis! Laudantium sed reprehenderit, odio quisquam doloremque et, rerum harum magni modi ut cum?</li>
      </ul>
    </div>
    <div class="conclusion">
      <h3>Conclusion:</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis id nisi eaque obcaecati, optio fugit perferendis inventore! Illum unde ea labore. Cumque laudantium aut cum et a commodi beatae explicabo! Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam est nemo mollitia odit! Necessitatibus, ratione, incidunt ducimus at quis voluptates quidem dolor fugit nulla debitis, earum dolorum rerum sed? Temporibus?</p>
    </div>
  </div>
  <div class="suggested">
    <h2>Also see:</h2>
    <div class="card">
      <img src="https://images.unsplash.com/uploads/141103282695035fa1380/95cdfeef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="blog-other" align="bottom">
      <div class="card-content">
        <h3>Another Blog</h3>
        <h4></h4>
      </div>
    </div>
  </div>
</div>
    </section>
    <!-- End About Us Section -->
    <!-- about us modal popup start -->

    <app-footer></app-footer>
  </div>
</div>
