<div class="wrapper">
  <app-header></app-header>
  <div class="event-content">
    <!-- ======= About Us Section ======= -->
    <section class="about services">
      <div class="row">
        <div class="col-md-12 page-title abt-img mb-4">
          Events
        </div>
     </div>
     <div class="row px-5 py-5">

        <div class="col-md-12   text-border">
           <div class="row  ">
              <div class="col-md-3 p-0"><img src='assets/img/images/e1.jpg' class="event-image"></div>
              <div class="col-md-9 summary-cont">
                 <div class="evnt-title ">Day of Knowledge</div>
                 <div class="evnt-sub fl-right"><i class="fa fa-clock-o txt text-lightblack  pr-3"></i>January 1 - December 31</div>
                 <div class="evnt-sub"><i class="fa fa-map-marker txt text-lightblack pr-3"></i><span class="txt text-secondary">Central Park </span>, Brooklyn, NY 10036 New York, United States</div>
                 <div class="evnt-sub"><i class="fa fa-dollar txt text-lightblack pr-3"></i>$10</div>
                 <div class="evnt-sub">Cras dapibus ullamcorper dictum. Viva>mus nec erat placerat felis scelerisque porttitor in ac turpis</div>
                 <div class="evnt-subt-read evnt-sub txt text-secondary" (click)="redirect('blog')">Find Out More</div>
              </div>
           </div>
        </div>
        <div class="col-md-12   text-border">
           <div class="row  ">
              <div class="col-md-3 p-0"><img src='assets/img/images/e2.jpg' class="event-image"></div>
              <div class="col-md-9 summary-cont">
                 <div class="evnt-title ">
                    Hello, Autumn!
                 </div>
                 <div class="evnt-sub fl-right"><i class="fa fa-clock-o txt text-lightblack  pr-3"></i>January 1 - December 31</div>
                 <div class="evnt-sub"><i class="fa fa-map-marker txt text-lightblack pr-3"></i><span class="txt text-secondary">Central Park </span>, Brooklyn, NY 10036 New York, United States</div>
                 <div class="evnt-sub"><i class="fa fa-dollar txt text-lightblack pr-3"></i>$10</div>
                 <div class="evnt-sub">Cras dapibus ullamcorper dictum. Viva>mus nec erat placerat felis scelerisque porttitor in ac turpis</div>
                 <div class="evnt-subt-read evnt-sub txt text-secondary" (click)="redirect('blog')">Find Out More</div>
              </div>
           </div>
        </div>
        <div class="col-md-12   text-border">
           <div class="row  ">
              <div class="col-md-3 p-0"><img src='assets/img/images/e3.jpg' class="event-image"></div>
              <div class="col-md-9 summary-cont">
                 <div class="evnt-title ">
                    Day of Love, Family and Fidelity
                 </div>
                 <div class="evnt-sub fl-right"><i class="fa fa-clock-o txt text-lightblack  pr-3"></i>January 1 - December 31</div>
                 <div class="evnt-sub"><i class="fa fa-map-marker txt text-lightblack pr-3"></i><span class="txt text-secondary">Central Park </span>, Brooklyn, NY 10036 New York, United States</div>
                 <div class="evnt-sub"><i class="fa fa-dollar txt text-lightblack pr-3"></i>$10</div>
                 <div class="evnt-sub">Cras dapibus ullamcorper dictum. Viva>mus nec erat placerat felis scelerisque porttitor in ac turpis</div>
                 <div class="evnt-subt-read evnt-sub txt text-secondary" (click)="redirect('blog')">Find Out More</div>
              </div>
           </div>
        </div>
        <div class="col-md-12   text-border">
           <div class="row  ">
              <div class="col-md-3 p-0"><img src='assets/img/images/e4.jpg' class="event-image"></div>
              <div class="col-md-9 summary-cont">
                 <div class="evnt-title ">
                    Our Merry Summer!
                 </div>
                 <div class="evnt-sub fl-right"><i class="fa fa-clock-o txt text-lightblack  pr-3"></i>January 1 - December 31</div>
                 <div class="evnt-sub"><i class="fa fa-map-marker txt text-lightblack pr-3"></i><span class="txt text-secondary">Central Park </span>, Brooklyn, NY 10036 New York, United States</div>
                 <div class="evnt-sub"><i class="fa fa-dollar txt text-lightblack pr-3"></i>$10</div>
                 <div class="evnt-sub">Cras dapibus ullamcorper dictum. Viva>mus nec erat placerat felis scelerisque porttitor in ac turpis</div>
                 <div class="evnt-subt-read evnt-sub txt text-secondary" (click)="redirect('blog')">Find Out More</div>
              </div>
           </div>
        </div>
        <div class="col-md-12   text-border">
           <div class="row  ">
              <div class="col-md-3 p-0"><img src='assets/img/images/e5.jpg' class="event-image"></div>
              <div class="col-md-9 summary-cont">
                 <div class="evnt-title ">Birthday Kindergarten</div>
                 <div class="evnt-sub fl-right"><i class="fa fa-clock-o txt text-lightblack  pr-3"></i>January 1 - December 31</div>
                 <div class="evnt-sub"><i class="fa fa-map-marker txt text-lightblack pr-3"></i><span class="txt text-secondary">Central Park </span>, Brooklyn, NY 10036 New York, United States</div>
                 <div class="evnt-sub"><i class="fa fa-dollar txt text-lightblack pr-3"></i>$10</div>
                 <div class="evnt-sub">Cras dapibus ullamcorper dictum. Viva>mus nec erat placerat felis scelerisque porttitor in ac turpis</div>
                 <div class="evnt-subt-read evnt-sub txt text-secondary" (click)="redirect('blog')">Find Out More</div>
              </div>
           </div>
        </div>
        <div class="col-md-12   text-border">
           <div class="row  ">
              <div class="col-md-3 p-0"><img src='assets/img/images/e2.jpg' class="event-image"></div>
              <div class="col-md-9 summary-cont">
                 <div class="evnt-title ">Let’s All Do Fun Things</div>
                 <div class="evnt-sub fl-right"><i class="fa fa-clock-o txt text-lightblack  pr-3"></i>January 1 - December 31</div>
                 <div class="evnt-sub"><i class="fa fa-map-marker txt text-lightblack pr-3"></i><span class="txt text-secondary">Central Park </span>, Brooklyn, NY 10036 New York, United States</div>
                 <div class="evnt-sub"><i class="fa fa-dollar txt text-lightblack pr-3"></i>$10</div>
                 <div class="evnt-sub">Cras dapibus ullamcorper dictum. Viva>mus nec erat placerat felis scelerisque porttitor in ac turpis</div>
                 <div class="evnt-subt-read evnt-sub txt text-secondary" (click)="redirect('blog')">Find Out More</div>
              </div>
           </div>
        </div>
     </div>
  
    </section>
  </div>
  <app-footer></app-footer>
</div>
