<div class="wrapper">
  <app-header></app-header>
  <div class="event-content">
    <!-- ======= About Us Section ======= -->
    <section class="about services">
      <div class="row">
        <div class="col-md-12 page-title abt-img mb-4">
          Events
        </div>
      </div>






      <div class="container">
        <div class="row mt-5 mb-5">
          <div class="col-md-6 row xs-single-event event-green">
            <div class="col-md-5">
              <div class="xs-event-image">
                <img src="assets/img/images/event_1.jpg" width="100%" alt="">
                <div class="xs-entry-date">
                  <span class="entry-date-day">23</span>
                  <span class="entry-date-month">jun</span>
                </div>
                <div class="xs-black-overlay"></div>
              </div><!-- .xs-event-image END -->
            </div>
            <div class="col-md-7">
              <div class="xs-event-content">
                <a href="">Braille Literacy Tool for.</a>
                <p>In a time of overwhelming emotions, sadness, and pain, obligations.</p>
                <div class="xs-countdown-timer" data-countdown="2020/02/24"> <span class="timer-count">0 <span class="timer-title">Days</span></span>  <span class="timer-count">00 <span class="timer-title">Hours</span></span> <span class="timer-count">00 <span class="timer-title">Minutes</span></span> <span class="timer-count">00 <span class="timer-title">Secods</span></span></div>
                <a href="#" class="btn btn-primary">
                  Learn More
                </a>
              </div><!-- .xs-event-content END -->
            </div>
          </div>
            <div class="col-lg-6 row xs-single-event event-purple">
              <div class="col-md-5">
                <div class="xs-event-image">
                  <img src="assets/img/images/event_2.jpg" width="100%" alt="">
                  <div class="xs-entry-date">
                    <span class="entry-date-day">15</span>
                    <span class="entry-date-month">aug</span>
                  </div>
                  <div class="xs-black-overlay"></div>
                </div><!-- .xs-event-image END -->
              </div>
              <div class="col-md-7">
                <div class="xs-event-content">
                  <a href="#">Arsenal, the intelligent.</a>
                  <p>In a time of overwhelming emotions, sadness, and pain, obligations.</p>
                  <div class="xs-countdown-timer" data-countdown="2020/08/24"> <span class="timer-count">150 <span class="timer-title">Days</span></span>  <span class="timer-count">11 <span class="timer-title">Hours</span></span> <span class="timer-count">55 <span class="timer-title">Minutes</span></span> <span class="timer-count">50 <span class="timer-title">Secods</span></span></div>
                  <a href="#" class="btn btn-primary">
                    Learn More
                  </a>
                </div><!-- .xs-event-content END -->
              </div>
          </div>
        </div>
        <div class="row mt-5 mb-5">
          <div class="col-md-6 row xs-single-event event-red">
            <div class="col-md-5">
              <div class="xs-event-image">
                <img src="assets/img/images/event_3.jpg" width="100%" alt="">
                <div class="xs-entry-date">
                  <span class="entry-date-day">24</span>
                  <span class="entry-date-month">jan</span>
                </div>
                <div class="xs-black-overlay"></div>
              </div><!-- .xs-event-image END -->
            </div>
            <div class="col-md-7">
              <div class="xs-event-content">
                <a href="#">Waterproof drone that</a>
                <p>In a time of overwhelming emotions, sadness, and pain, obligations.</p>
                <div class="xs-countdown-timer" data-countdown="2019/05/24"> <span class="timer-count">0 <span class="timer-title">Days</span></span>  <span class="timer-count">00 <span class="timer-title">Hours</span></span> <span class="timer-count">00 <span class="timer-title">Minutes</span></span> <span class="timer-count">00 <span class="timer-title">Secods</span></span></div>
                <a href="#" class="btn btn-primary">
                  Learn More
                </a>
              </div><!-- .xs-event-content END -->
            </div>
          </div>
            <div class="col-md-6 row xs-single-event event-blue">
              <div class="col-md-5">
                <div class="xs-event-image">
                  <img src="assets/img/images/event_4.jpg" width="100%" alt="">
                  <div class="xs-entry-date">
                    <span class="entry-date-day">23</span>
                    <span class="entry-date-month">jun</span>
                  </div>
                  <div class="xs-black-overlay"></div>
                </div><!-- .xs-event-image END -->
              </div>
              <div class="col-md-7">
                <div class="xs-event-content">
                  <a href="">Braille Literacy Tool for.</a>
                  <p>In a time of overwhelming emotions, sadness, and pain, obligations.</p>
                  <div class="xs-countdown-timer" data-countdown="2020/02/24"> <span class="timer-count">0 <span class="timer-title">Days</span></span>  <span class="timer-count">00 <span class="timer-title">Hours</span></span> <span class="timer-count">00 <span class="timer-title">Minutes</span></span> <span class="timer-count">00 <span class="timer-title">Secods</span></span></div>
                  <a href="#" class="btn btn-primary">
                    Learn More
                  </a>
                </div><!-- .xs-event-content END -->
              </div>
            </div>
        </div>
      </div>
 
  
    </section>
  </div>
  <app-footer></app-footer>
</div>
