<div class="wrapper">
  <app-header></app-header>
  <div class="about-content">
    <!-- ======= About Us Section ======= -->
    <section id="about" class="about-detail services">
      <section class="sub-detail-container">
        <h4 class="text-sub-title">History</h4>
        <hr class="sub-title-border" />
        <br />
        <p>
          It all started on a fine morning at the university dorm. While the
          rest of the world was celebrating and welcoming the new year 2017
          cheerfully, we wished to do something remarkable in the new year, we
          wished to give back to the society, we were brainstorming for ideas.
          Eventually, we talked about how grateful we are for having the
          privilege to receive a quality education and how our life would have
          ended up without having that.
        </p>

        <p>
          Then, we realized that there exist a plenty of young bright minds who
          have the potential to radically improve their life, provided they get
          a quality education. Unfortunately, however, many such young minds are
          born into the poor families in villages who cannot afford a quality
          education. We asked ourselves a question: why shouldn't we find such
          students and sponsor them entirely?
        </p>

        <p>
          That question got stuck in our minds. And, our dear reader, as an
          answer to that question, Sitranu Foundation was born. An open,
          transparent, community-based foundation where members can donate
          money, take up volunteering work, bring in potential students,
          campaign and win the community vote for sponsorship. Basically, a
          foundation for the community and by the community. Like an Indian
          traditional baby, the foundation was not born with a name. We called
          it "Nameless Foundation" initially. In fact, that's how we promoted
          while adding our initial members. Later, we conducted a name-finding
          discussion and concluded on "Sitranu Foundation". Sitranu is a
          beautiful Tamil word, refers to a small atom. An atom that is so small
          and invisible by itself, but when bonded with several such atoms, it
          makes a great human being like you and the entire universe that you
          live in.
        </p>

        <p>
          Similarly, the helping hands from the members of our foundation, even
          if it's a fraction of the whole, but when combined with others, makes
          a great significance. Every member in our foundation is, therefore, a
          Sitranu who helps in providing quality education for the needy
          students. Such a meaningful name for what our foundation is all about.
        </p>
        <br />
      </section>

      <section class="sub-detail-container">
        <h4 class="text-sub-title">Our Mission</h4>
        <hr class="sub-title-border" />
        <br />
        <p>
          In the state of Tamil Nadu in India, every year around a million
          students appear for the Higher Secondary state examination. There
          exists a fierce competition among students to land in top
          universities. There are private schools that are reputed for preparing
          students to excel in their examinations, but are expensive. On the
          other hand, a large number of government schools in remote villages
          have limited infrastructure and a lethargic mindset in pushing
          students to excel, but it offers free education.
        </p>

        <p>
          Families living in poverty cannot afford private schooling for their
          children. Therefore, very talented but poor students from villages
          lack good teaching and support to attend reputed universities. Our
          responsibility is to find such potential students and sponsor them for
          private school education.
        </p>

        <p>
          Our mission is to provide an opportunity and uplift at least 100
          students every year by 2025 and thereafter.
        </p>
        <br />
      </section>

      <section class="sub-detail-container">
        <h4 class="text-sub-title">Our Strengths</h4>
        <hr class="sub-title-border" />
        <br />
        <ul>
          <li>
            A foundation owned by everyone. With members adding their friends
            and family after gaining our trust, our foundation is growing
            steadily and in a sustainable manner. Members also volunteer.
          </li>
          <br />

          <li>
            We do not do paid advertising, neither have paid employees. 99% of
            the donations reach the students directly, the remaining 1% is used
            for the domain name of this website, or other similar expenses.
          </li>
          <br />

          <li>
            We only act as a platform bringing together the students and the
            donors. You get a very personal touch, if you’re interested, by
            visiting or talking to the students and their parents periodically,
            mentoring them, getting regular updates on the student’s academic
            progress and so on.
          </li>
          <br />

          <li>
            We intend to find the talents in their early age around 6th or 7th
            standard and prepare them for the final 12th standard giving ample
            time.
          </li>
          <br />

          <li>
            We are aiming to be very transparent with income and expenses, and
            democratic in our decisions. Everyone gets an annual report with
            greater details on the finances. All the decisions are taken based
            on member voting. So, you have a say in who gets the sponsorship,
            for example.
          </li>
          <br />

          <li>
            We’re already global, with donors from India, Germany, China,
            Singapore, and the USA.
          </li>
        </ul>
        <br />
      </section>

      <section class="sub-detail-container">
        <h4 class="text-sub-title">Board Of Directors</h4>
        <hr class="sub-title-border" />
        <br />

        <ul>
          <li>
            Chethan Venkatesan,
            <font size="3"
              ><i
                >Senior System Engineer at CommSolid GmbH, Dresden - Germany</i
              ></font
            >
          </li>
          <li>
            Lavanya Manickavasagam,
            <font size="3"
              ><i
                >Development Engineer at Continental Gmbh, Ulm - Germany</i
              ></font
            >
          </li>
          <li>
            Kaushik Gopalan,
            <font size="3"
              ><i
                >IoT Solution Architect at Daimler AG, Stuttgart - Germany</i
              ></font
            >
          </li>
          <li>
            Muthuraman Venkatakrishnan,
            <font size="3"
              ><i>Test Engineer at Sonnen Gmbh, Kempten - Germany</i></font
            >
          </li>
          <li>
            Naveen Kumar Sambasivan,
            <font size="3"
              ><i
                >Research and Development Engineer at Nokia, Bangalore - India
              </i></font
            >
          </li>
          <li>
            Santhosh Ramapuram Palanivel,
            <font size="3"
              ><i
                >Solution Architect at Daimler AG, Stuttgart - Germany</i
              ></font
            >
          </li>
          <li>
            Saravana Maruthamuthu,
            <font size="3"
              ><i
                >HF Radar Engineer at Continental Gmbh, Munich - Germany</i
              ></font
            >
          </li>
        </ul>
        <br />
      </section>

      <section class="sub-detail-container">
        <h4 class="text-sub-title">Student Sponsorship</h4>
        <hr class="sub-title-border" />
        <br />
        <p>
          Yet to be added
        </p>
        <br />
      </section>
      <section class="sub-detail-container">
        <h4 class="text-sub-title">Student Selection Process</h4>
        <hr class="sub-title-border" />
        <br />
        <p>
          Yet to be added
        </p>
        <br />
      </section>
    </section>
    <!-- End About Us Section -->
    <!-- about us modal popup start -->

    <app-footer></app-footer>
  </div>
</div>
