<div class="wrapper">
<app-header></app-header>
  <div class="about-content">
     <!-- ======= About Us Section ======= -->
     <section id="about" class="about services">
        <div class="row">
           <div class="col-md-12 page-title abt-img mb-4">
              About Us                 
           </div>
        </div>
        <div class="container">
           <h5 class="title-desc">Sitranu Foundation was founded in January 2017 to support highly-talented students living in abject poverty to pursue quality school education. What started with just four members and Rs. 48,000 (~500 Euros) of initial funding has now grown into around 40 members and Rs. 500,000 (~6000 Euros) of annual donations</h5>
           <div class="row">
              <div
                 class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0"
                 data-toggle="modal"
                 data-target="#history"
                 >
                 <div class="icon-box">
                    <div class="icon"><i class="fa fa-hourglass-o"></i></div>
                    <h4 class="title"><a>Our History</a></h4>
                    <p class="description">
                       It all started on a fine morning at the university dorm.
                    </p>
                    <button class="btn-readmore"  (click)="redirect('about-detail')">Read more &raquo;</button>
                 </div>
              </div>
              <div
                 class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0"
                 data-toggle="modal"
                 data-target="#mission"
                 >
                 <div class="icon-box">
                    <div class="icon"><i class="fa fa-road"></i></div>
                    <h4 class="title"><a>Our Mission</a></h4>
                    <p class="description">
                       In the state of Tamil Nadu in India, every year around a million
                       students appear
                    </p>
                    <button class="btn-readmore"  (click)="redirect('about-detail')">Read more &raquo;</button>
                 </div>
              </div>
              <div
                 class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0"
                 data-toggle="modal"
                 data-target="#strengths"
                 >
                 <div class="icon-box">
                    <div class="icon"><i class="fa fa-users"></i></div>
                    <h4 class="title"><a>Our Strengths</a></h4>
                    <p class="description">
                       A foundation owned by everyone. With members adding their
                       friends and family
                    </p>
                    <button class="btn-readmore"  (click)="redirect('about-detail')">Read more &raquo;</button>
                 </div>
              </div>
           </div>
           <div class="row">
              <div
                 class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0"
                 data-toggle="modal"
                 data-target="#directors"
                 >
                 <div class="icon-box">
                    <div class="icon"><i class="fa fa-sitemap"></i></div>
                    <h4 class="title"><a>Board of Directors</a></h4>
                    <p class="description">
                       Sitranu Foundation will be a registered NGO in India (due
                       04.2019)
                    </p>
                    <button class="btn-readmore"  (click)="redirect('about-detail')">Read more &raquo;</button>
                 </div>
              </div>
              <div
                 class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0"
                 data-toggle="modal"
                 data-target="#sponsorship"
                 >
                 <div class="icon-box">
                    <div class="icon"><i class="fa fa-graduation-cap"></i></div>
                    <h4 class="title"><a>Student Sponsorship</a></h4>
                    <p class="description">
                       Yet to be added
                    </p>
                    <button class="btn-readmore"  (click)="redirect('about-detail')">Read more &raquo;</button>
                 </div>
              </div>
              <div
                 class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0"
                 data-toggle="modal"
                 data-target="#process"
                 >
                 <div class="icon-box">
                    <div class="icon"><i class="fa fa-male"></i></div>
                    <h4 class="title"><a >Student Selection Process</a></h4>
                    <p class="description">
                     Yet to be added
                    </p>
                    <button class="btn-readmore"  (click)="redirect('about-detail')">Read more &raquo;</button>
                 </div>
              </div>
           </div>
        </div>
     </section>
     <!-- End About Us Section -->
     <!-- about us modal popup start -->
     <div
        class="modal fade bd-example-modal-lg"
        id="history"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
        >
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
           <div class="modal-content">
              <div class="modal-header">
                 <h5 class="modal-heading">OUR HISTORY</h5>
              </div>
              <div class="modal-body">
                 <h6>
                    It all started on a fine morning at the university dorm. While the
                    rest of the world was celebrating and welcoming the new year 2017
                    cheerfully, we wished to do something remarkable in the new year,
                    we wished to give back to the society, we were brainstorming for
                    ideas. Eventually, we talked about how grateful we are for having
                    the privilege to receive a quality education and how our life
                    would have ended up without having that.
                    <br />
                    <br />
                    Then, we realized that there exist a plenty of young bright minds
                    who have the potential to radically improve their life, provided
                    they get a quality education. Unfortunately, however, many such
                    young minds are born into the poor families in villages who cannot
                    afford a quality education. We asked ourselves a question: why
                    shouldn't we find such students and sponsor them entirely?
                    <br />
                    <br />
                    That question got stuck in our minds. And, our dear reader, as an
                    answer to that question, Sitranu Foundation was born. An open,
                    transparent, community-based foundation where members can donate
                    money, take up volunteering work, bring in potential students,
                    campaign and win the community vote for sponsorship. Basically, a
                    foundation for the community and by the community. Like an Indian
                    traditional baby, the foundation was not born with a name. We
                    called it "Nameless Foundation" initially. In fact, that's how we
                    promoted while adding our initial members. Later, we conducted a
                    name-finding discussion and concluded on "Sitranu Foundation".
                    Sitranu is a beautiful Tamil word, refers to a small atom. An atom
                    that is so small and invisible by itself, but when bonded with
                    several such atoms, it makes a great human being like you and the
                    entire universe that you live in.
                    <br />
                    <br />
                    Similarly, the helping hands from the members of our foundation,
                    even if it's a fraction of the whole, but when combined with
                    others, makes a great significance. Every member in our foundation
                    is, therefore, a Sitranu who helps in providing quality education
                    for the needy students. Such a meaningful name for what our
                    foundation is all about.
                 </h6>
              </div>
           </div>
        </div>
     </div>
     <div
        class="modal fade bd-example-modal-lg"
        id="mission"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
        >
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
           <div class="modal-content">
              <div class="modal-header">
                 <h5 class="modal-heading">OUR MISSION</h5>
              </div>
              <div class="modal-body">
                 <h6>
                    In the state of Tamil Nadu in India, every year around a million
                    students appear for the Higher Secondary state examination. There
                    exists a fierce competition among students to land in top
                    universities. There are private schools that are reputed for
                    preparing students to excel in their examinations, but are
                    expensive. On the other hand, a large number of government schools
                    in remote villages have limited infrastructure and a lethargic
                    mindset in pushing students to excel, but it offers free
                    education.
                    <br />
                    <br />
                    Families living in poverty cannot afford private schooling for
                    their children. Therefore, very talented but poor students from
                    villages lack good teaching and support to attend reputed
                    universities. Our responsibility is to find such potential
                    students and sponsor them for private school education. <br />
                    <br />
                    Our mission is to provide an opportunity and uplift at least 100
                    students every year by 2025 and thereafter.
                 </h6>
              </div>
           </div>
        </div>
     </div>
     <div
        class="modal fade bd-example-modal-lg"
        id="strengths"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
        >
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
           <div class="modal-content">
              <div class="modal-header">
                 <h5 class="modal-heading">OUR STRENGTHS</h5>
              </div>
              <div class="modal-body">
                 <ul>
                    <li>
                       A foundation owned by everyone. With members adding their
                       friends and family after gaining our trust, our foundation is
                       growing steadily and in a sustainable manner. Members also
                       volunteer.
                    </li>
                    <li>
                       We do not do paid advertising, neither have paid employees. 99%
                       of the donations reach the students directly, the remaining 1%
                       is used for the domain name of this website, or other similar
                       expenses.
                    </li>
                    <li>
                       We only act as a platform bringing together the students and the
                       donors. You get a very personal touch, if you’re interested, by
                       visiting or talking to the students and their parents
                       periodically, mentoring them, getting regular updates on the
                       student’s academic progress and so on.
                    </li>
                    <li>
                       We intend to find the talents in their early age around 6th or
                       7th standard and prepare them for the final 12th standard giving
                       ample time.
                    </li>
                    <li>
                       We are aiming to be very transparent with income and expenses,
                       and democratic in our decisions. Everyone gets an annual report
                       with greater details on the finances. All the decisions are
                       taken based on member voting. So, you have a say in who gets the
                       sponsorship, for example.
                    </li>
                    <li>
                       We’re already global, with donors from India, Germany, China,
                       Singapore, and the USA.
                    </li>
                 </ul>
              </div>
           </div>
        </div>
     </div>
     <div
        class="modal fade bd-example-modal-lg"
        id="directors"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
        >
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
           <div class="modal-content">
              <div class="modal-header">
                 <h5 class="modal-heading">BOARD OF DIRECTORS</h5>
              </div>
              <div class="modal-body">
                 <h6>
                    Sitranu Foundation will be a registered NGO in India (due
                    04.2019). Our Board of Directors meets regularly to review
                    students progress, financial conditions, select new students,
                    discuss future strategies and more. Other members of the
                    foundation are also invited for these meetups. The current board
                    includes,
                 </h6>
                 <ol>
                    <li>
                       Chethan Venkatesan, Senior System Engineer at CommSolid GmbH,
                       Dresden - Germany
                    </li>
                    <li>
                       Lavanya Manickavasagam, Development Engineer at Continental
                       Gmbh, Ulm - Germany
                    </li>
                    <li>
                       Kaushik Gopalan, IoT Solution Architect at Daimler AG, Stuttgart
                       - Germany
                    </li>
                    <li>
                       Muthuraman Venkatakrishnan, Test Engineer at Sonnen Gmbh,
                       Kempten - Germany
                    </li>
                    <li>
                       Naveen Kumar Sambasivan, Research and Development Engineer at
                       Nokia, Bangalore - India
                    </li>
                    <li>
                       Santhosh Ramapuram Palanivel, Solution Architect at Daimler AG,
                       Stuttgart - Germany
                    </li>
                    <li>
                       Saravana Maruthamuthu, HF Radar Engineer at Continental Gmbh,
                       Munich - Germany
                    </li>
                 </ol>
              </div>
           </div>
        </div>
     </div>
     <div
        class="modal fade bd-example-modal-lg"
        id="process"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
        >
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
           <div class="modal-content">
              <div class="modal-header">
                 <h5 class="modal-heading">STUDENT SPONSORSHIP</h5>
              </div>
              <div class="modal-body">
                 <h6>
                    Yet to be added
                 </h6>
              </div>
           </div>
        </div>
     </div>
     <div
        class="modal fade bd-example-modal-lg"
        id="sponsorship"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
        >
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
           <div class="modal-content">
              <div class="modal-header">
                 <h5 class="modal-heading">STUDENT SELECTION PROCESS</h5>
              </div>
              <div class="modal-body">
                 <h6>
                    Yet to be added
                 </h6>
              </div>
           </div>
        </div>
     </div>
  </div>
<app-footer></app-footer>
</div>