<div class="wrapper">
  <app-header></app-header>
  <div class="blog-content">
    <!-- ======= About Us Section ======= -->
    <section id="about" class="about-detail services">


      <div class="w3-content" style="max-width:1500px">

        <!-- Header -->
        <header class=" w3-center w3-opacity" style="padding:20px">
          <h1 class="pb-5">Heading Goes Here</h1>
          <p class="blog-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt error quod magnam veniam cumque placeat doloribus! Nesciunt dolore, amet, fugit placeat quas, laborum ipsa temporibus atque sapiente nobis qui voluptatesLorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt error quod magnam veniam cumque placeat doloribus! Nesciunt dolore, amet, fugit placeat quas, laborum ipsa temporibus atque sapiente nobis qui voluptatesLorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt error quod magnam veniam cumque placeat doloribus! Nesciunt dolore, amet, fugit placeat quas, laborum ipsa temporibus atque sapiente nobis qui voluptates</p>
          <div class="w3-padding-32">
            <div class="w3-bar w3-border">
              <a href="#" class="w3-bar-item w3-button">tab1</a>
              <a href="#" class="w3-bar-item w3-button w3-light-grey">tab1</a>
              <a href="#" class="w3-bar-item w3-button">tab1</a>
              <a href="#" class="w3-bar-item w3-button w3-hide-small">tab1</a>
            </div>
          </div>
        </header>
        
        <!-- Photo Grid -->
        <div class="w3-row-padding w3-grayscale" style="margin-bottom:128px">
          <div class="w3-half">
            <img src="assets/img/images/wedding.jpg" style="width:100%">
            <img src="assets/img/images/rocks.jpg" style="width:100%">
            <img src="assets/img/images/falls2.jpg" style="width:100%">
            <img src="assets/img/images/paris.jpg" style="width:100%">
            <img src="assets/img/images/nature.jpg" style="width:100%">
            <img src="assets/img/images/mist.jpg" style="width:100%">
            <img src="assets/img/images/paris.jpg" style="width:100%">
          </div>
        
          <div class="w3-half">
            <img src="assets/img/images/falls2.jpg" style="width:100%">
            <img src="assets/img/images/ocean.jpg" style="width:100%">
            <img src="assets/img/images/wedding.jpg" style="width:100%">
            <img src="assets/img/images/mountainskies.jpg" style="width:100%">
            <img src="assets/img/images/rocks.jpg" style="width:100%">
            <img src="assets/img/images/wedding.jpg" style="width:100%">
          </div>
        </div>
          
        <!-- End Page Content -->
        </div>


    </section>
    <!-- End About Us Section -->
    <!-- about us modal popup start -->

    <app-footer></app-footer>
  </div>
</div>
