<div class="wrapper">
  <app-header></app-header>
  <div class="history-content">
    <!-- ======= About Us Section ======= -->
    <section class="about services">
      <div class="row">
        <div class="col-md-12 page-title abt-img mb-4">
          What We Do
        </div>
      </div>
      <div class="container">
        <div class="help-section"><p>Educate Girls works in India’s rural and educationally backward areas. Educate Girls is a non-profit that focuses on mobilizing communities for girls’ education. Donate Now. </p><span class="xs-separetor v3"></span></div>
        <div class="row mt-5 mb-5">
            <div class="col-md-4 mb-3">
                <div class="card" (click)="redirect('blog')">
                    <img src="assets/img/images/blog_1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">27th August 2017</p>
                      <h6 class="card-title">Brilliant After All, A New Album by Rebecca: Help poor people</h6>

                    </div>
                  </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card" (click)="redirect('blog')">
                    <img src="assets/img/images/blog_2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">02 May 2017</p>
                      <h6 class="card-title">South african pre primary school build for children</h6>

                    </div>
                  </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card" (click)="redirect('blog')">
                    <img src="assets/img/images/blog_3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">13 January 2017</p>
                      <h6 class="card-title">Provide pure water for syrian poor people</h6>

                    </div>
                  </div>
            </div>
        </div>
      </div>
    </section>
  </div>
  <app-footer></app-footer>
</div>
