<div class="wrapper">
  <app-header></app-header>
  <div class="history-content">
    <!-- ======= About Us Section ======= -->
    <section class="about services">
      <div class="row">
        <div class="col-md-12 page-title abt-img mb-4">
          What We Do
        </div>
      </div>
      <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-md-4">
                <div class="card">
                    <img src="assets/img/images/blog_1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">27th August 2017</p>
                      <h5 class="card-title">Brilliant After All, A New Album by Rebecca: Help poor people</h5>
                      <div class="card-footer">
                        <a class="card-comments" href=""><i class="fa fa-comments-o"></i> 300 Comments</a>
                        <a class="card-views" href=""><i class="fa fa-eye"></i> 1000 Views</a>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="assets/img/images/blog_2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">02 May 2017</p>
                      <h5 class="card-title">South african pre primary school build for children</h5>
                      <div class="card-footer">
                        <a class="card-comments" href=""><i class="fa fa-comments-o"></i> 300 Comments</a>
                        <a class="card-views" href=""><i class="fa fa-eye"></i> 1000 Views</a>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="assets/img/images/blog_3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">13 January 2017</p>
                      <h5 class="card-title">Provide pure water for syrian poor people</h5>
                      <div class="card-footer">
                        <a class="card-comments" href=""><i class="fa fa-comments-o"></i> 300 Comments</a>
                        <a class="card-views" href=""><i class="fa fa-eye"></i> 1000 Views</a>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-md-4">
                <div class="card">
                    <img src="assets/img/images/blog_4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">27th August 2017</p>
                      <h5 class="card-title">Brilliant After All, A New Album by Rebecca: Help poor people</h5>
                      <div class="card-footer">
                        <a class="card-comments" href=""><i class="fa fa-comments-o"></i> 300 Comments</a>
                        <a class="card-views" href=""><i class="fa fa-eye"></i> 1000 Views</a>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="assets/img/images/blog_5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">27th August 2017</p>
                      <h5 class="card-title">Brilliant After All, A New Album by Rebecca: Help poor people</h5>
                      <div class="card-footer">
                        <a class="card-comments" href=""><i class="fa fa-comments-o"></i> 300 Comments</a>
                        <a class="card-views" href=""><i class="fa fa-eye"></i> 1000 Views</a>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="assets/img/images/blog_6.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">27th August 2017</p>
                      <h5 class="card-title">Brilliant After All, A New Album by Rebecca: Help poor people</h5>
                      <div class="card-footer">
                        <a class="card-comments" href=""><i class="fa fa-comments-o"></i> 300 Comments</a>
                        <a class="card-views" href=""><i class="fa fa-eye"></i> 1000 Views</a>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-md-4">
                <div class="card">
                    <img src="assets/img/images/blog_7.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">27th August 2017</p>
                      <h5 class="card-title">Brilliant After All, A New Album by Rebecca: Help poor people</h5>
                      <div class="card-footer">
                        <a class="card-comments" href=""><i class="fa fa-comments-o"></i> 300 Comments</a>
                        <a class="card-views" href=""><i class="fa fa-eye"></i> 1000 Views</a>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="assets/img/images/blog_8.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">27th August 2017</p>
                      <h5 class="card-title">Brilliant After All, A New Album by Rebecca: Help poor people</h5>
                      <div class="card-footer">
                        <a class="card-comments" href=""><i class="fa fa-comments-o"></i> 300 Comments</a>
                        <a class="card-views" href=""><i class="fa fa-eye"></i> 1000 Views</a>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="assets/img/images/blog_9.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">27th August 2017</p>
                      <h5 class="card-title">Brilliant After All, A New Album by Rebecca: Help poor people</h5>
                      <div class="card-footer">
                        <a class="card-comments" href=""><i class="fa fa-comments-o"></i> 300 Comments</a>
                        <a class="card-views" href=""><i class="fa fa-eye"></i> 1000 Views</a>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    </section>
  </div>
  <app-footer></app-footer>
</div>
