/*--------------------------------------------------------------
     # About Us
--------------------------------------------------------------*/



.about-content {
    .abt-img {
      background: url("../assets/img/images/img4.jpg");
      background-size: cover;
      height: 226px;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 119px;
      font-weight: 600;
      color: #fff;
    }
    .about .content h3 {
      font-weight: 500;
      font-size: 24px;
      color: #58716d;
      font-family: "Poppins", sans-serif;
    }

    .about .content ul {
      list-style: none;
      padding: 0;
    }

    .about .content ul li {
      padding-bottom: 10px;
    }

    .about .content ul i {
      font-size: 20px;
      padding-right: 4px;
      color: #3489fa;
    }

    .about .content p:last-child {
      margin-bottom: 0;
    }

    .about .progress {
      height: 50px;
      display: block;
      background: none;
    }

    .about .progress .skill {
      padding: 0;
      margin: 0 0 6px 0;
      text-transform: uppercase;
      display: block;
      font-weight: 600;
      font-family: "Poppins", sans-serif;
      color: #58716d;
    }

    .about .progress .skill .val {
      float: right;
      font-style: normal;
    }

    .about .progress-bar-wrap {
      background: #e6eceb;
    }

    .about .progress-bar {
      width: 1px;
      height: 10px;
      transition: 0.9s;
      background-color: #3489fa;
    }

    .about-banner {
      width: 100%;
      filter: brightness(0.5);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .about-main-content {
      position: absolute;
      top: 12%;
    }

    .about-main-content h2 {
      color: #ffffff;
      text-align: center;
    }

    .about-main-content p {
      color: #ffffff;
      margin: auto;
      width: 56%;
      text-align: center;
    }

    .banner {
      margin-top: -4%;
    }

    .align-items-stretch {
      margin-top: 3rem;
    }

    .modal-heading {
      margin: auto;
      color: #4b605c;
    }

    .modal {
      background-color: #0000009c;
    }

    /*--------------------------------------------------------------
  # Our Services
  --------------------------------------------------------------*/
    .services .icon-box {
      min-height: 300px;
      padding: 30px;
      position: relative;
      overflow: hidden;
      background: #fff;
      box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
      transition: all 0.3s ease-in-out;
      border-radius: 8px;
      z-index: 1;
      min-width: 350px;
      width: 32px;
    }

    .about-detail
    {
      padding: 50px;
      ul{
        li {list-style-type: circle !important;}

      } 
    }

    .btn-readmore {
      position: absolute;
      bottom: 20px;
      padding: 7px;
      width: 121px;
      background: #3489fa;
      border: none;
      color: #fff;
      font-weight: 700;
      font-size: 15px;
    }

    .services .icon-box::before {
      content: "";
      position: absolute;
      background: #3489fa;
      right: -60px;
      top: -40px;
      width: 100px;
      height: 100px;
      border-radius: 50px;
      transition: all 0.3s;
      z-index: -1;
    }

    .services .icon-box:hover::before {
      background: #64afff;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 0px;
    }

    .services .icon {
      margin: 0 auto 20px auto;
      padding-top: 10px;
      display: inline-block;
      text-align: center;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      background: #3489fa;
      transition: all 0.3s ease-in-out;
    }

    .services .icon i {
      font-size: 36px;
      line-height: 1;
      color: #fff;
    }

    
    .services .title {
      font-weight: 700;
      margin-bottom: 15px;
      font-size: 18px;
    }

    .services .title a {
      color: #425451;
    }

    .services .description {
      font-size: 15px;
      line-height: 28px;
      margin-bottom: 0;
    }

    .services .icon-box:hover .title a,
    .services .icon-box:hover .description {
      color: #fff;
    }

    .services .icon-box:hover .icon {
      background: #fff;
    }
    .services .icon-box:hover .btn-readmore {
      background: #fff;
      color: #000000;
    }

    .services .icon-box:hover .icon i {
      color: #3489fa;
    }
  }