/* Common For All User Pages */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: "Work Sans", sans-serif !important;
}
.sidebar {
  color: #1b78fa;
  font-size: 38px;
  margin-top: 4px;
}.carousal-cont
{
  .slider{
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
		transform: scale(1.2);
    transition: all 2s ease-in-out;
}

.slide.current {
    opacity: 1;
		transform: scale(1);
}

.slide .content {
  bottom: 70px;
  margin-left: -515px;
  opacity: 0;
  width: 600px;
  margin-top: 200px;
  background-color: #ffffff;
  color: #333;
  padding: 35px;
}

.slide .content h2 {
    margin-bottom: 10px;
    font-weight: 800;
    font-family: 'Anton';
}

.slide.current .content {
    opacity: 1;
    transform: translateX(600px);
    transition: all 1s ease-in-out 1s;
}

.buttons button#next {
    position: absolute;
    top: 50%;
    right: 15px;
}

.buttons button#prev {
    position: absolute;
    top: 50%;
    left: 15px;
}

.buttons button {
    border: 2px solid #007bff;
    background-color: transparent;
    color: #007bff;
    cursor: pointer;
    padding: 13px 15px;
    border-radius: 50%;
    outline: none;
}

.buttons button:hover {
	background-color: #007bff;
	color: #FFF;
}

@media(max-width: 500px) {
	.slide .content {
    margin-left: 0;
    width: 100%;
    margin-top: 450px;
}
	
	.slide.current .content {
		transform: translateY(-300px);
	}
}

 

/* Background Images */
.slide:first-child {
    background: url("../assets/img/images/img5.jpg") no-repeat center center/cover;
}
.slide:nth-child(2) {
    background: url("../assets/img/images/img7.jpg") no-repeat center center/cover;
}
.slide:nth-child(3) {
    background: url("../assets/img/images/img4.jpg") no-repeat center center/cover ;
}


.onoffswitch {
  display: none;
	position: absolute;
	top: 10%;
	right: 15px;
	width: 75px;
  -webkit-user-select:none; -moz-user-select:none;
	-ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 36px; padding: 0; line-height: 36px;
    border: 2px solid #E3E3E3; border-radius: 36px;
    background-color: #FFFFFF;
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 36px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 37px;
    border: 2px solid #E3E3E3; border-radius: 36px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #E94654;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #E94654;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px; 
}
}
.footer-sub-txt1 {
  cursor: pointer;
  margin-bottom: 5px !important;
}
.footer-sub-txt1:hover {
color: #4b8cfb !important;
}
a.nav-link {
  font-size: 18px;
}
.title-desc {
  line-height: 2;
  font-family: fantasy;
}
.logo1
{
  display: none;
}
.footer {
  background: #000;
  color: #fff;
  clear: both;
  i {
    margin-right: 5px;
  }
}
.xs-title {
  color: rgb(4, 29, 87);
  font-size: 3.28571em;
  font-weight: 700;
  letter-spacing: -0.2px;
  position: relative;
  z-index: 1;
  margin-bottom: 7px;
}
.font-strong
{
  font-weight: 700 !important;
}
.logo2 {
  width: 200px;
  position: relative;
  top: 32px;
}


.help-section {
  margin: 2rem auto;
  text-align: center;
}
.xs-separetor {
  display: block;
  position: relative;
  width: 5px;
  height: 5px;
  background: #0d0d0d;
  border-radius: 10px;
  margin: 0 auto;
}
.xs-separetor::before,
.xs-separetor::after {
  content: "";
  vertical-align: top;
  border-bottom: 1px solid #0d0d0d;
  position: absolute;
  top: 0;
  right: 9pt;
  height: 2px;
  width: 28px;
}
.xs-separetor::after {
  left: 9pt;
  right: inherit;
}
.card
{
  cursor: pointer;
}
.services {
  margin: 0px 0px 50px 0px;
}
span.pipe {
  position: relative;
  left: 11px;
}
.event-image {
  width: 100%;
  height: auto;
}
.evnt-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}
.text-lightblack {
  color: #7687ff !important;
}
.summary-cont {
  padding: 23px;
}
.fl-right {
 float: right;
}
.text-border {
  margin-bottom: 25px;
  -webkit-box-shadow: 10px 11px 12px 0px rgba(230,230,230,1);
  -moz-box-shadow: 10px 11px 12px 0px rgba(230,230,230,1);
  box-shadow: 10px 11px 12px 0px rgba(230,230,230,1);
  border: 1px solid rgba(230,230,230,1);
}
.txt-ligtred {
  color: #007bff!important;
  font-weight: 700;
}
.evnt-subt-read {
  padding-top: 11px;
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}
li {
  list-style: none;
}
.rounded {
  border-radius: 0.25rem !important;
  width: 100%;
}
.bg-gray {
  background-color: rgb(249, 249, 249) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
.carousal-cont {
  position: relative;
  height: 100vh;
}
.picsum-img-wrapper {
  height: 100vh;
}
.donate-btn {
  background-color: #007bff !important;
  font-size: 1em;
  text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.3px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 5px 0px;
    line-height: 1;
    color: rgb(255, 255, 255) !important;
    position: relative;
    z-index: 1;
    border-radius: 50px;
    padding: 16px 39px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 30px;
    transition: all 0.4s ease 0
}
.donate-btn:hover {
  color: rgb(0, 0, 0) !important;
  background-color: rgb(255, 255, 255) !important;
}

.text-sub-title {
  font-weight: 600;
}
p{
  font-size: 16px;
  line-height: 2;
}


@keyframes scroller-1 { from { top: 0; filter: blur(0.3px); } to { top: -100% } }
@keyframes scroller-2 { from { top: 0; filter: blur(0.6px); } to { top: -200% } }
@keyframes scroller-3 { from { top: 0; filter: blur(1.0px); } to { top: -300% } }
@keyframes scroller-4 { from { top: 0; filter: blur(1.3px); } to { top: -400% } }
@keyframes scroller-5 { from { top: 0; filter: blur(1.6px); } to { top: -500% } }
@keyframes scroller-6 { from { top: 0; filter: blur(2.0px); } to { top: -600% } }
@keyframes scroller-7 { from { top: 0; filter: blur(2.3px); } to { top: -700% } }
@keyframes scroller-8 { from { top: 0; filter: blur(2.6px); } to { top: -800% } }
@keyframes scroller-9 { from { top: 0; filter: blur(3.0px); } to { top: -900% } }

.scroller-wrapper {
  overflow: hidden;
  position: relative;
}

.scroller-wrapper div span {
  display: block;
}

.scroller-wrapper div {
  display: inline-block;
  position: relative;
  top: 0;
  vertical-align: top;
  animation-fill-mode: forwards;
}

.footer p
{
  font-size: unset !important;
}

.blog-content
{

  h1, h2, h3, h4, h5, h6 { 
      letter-spacing: 5px;
    }
    h1 {letter-spacing: 6px;
      font-family: "Playfair Display" !important}
.w3-row-padding img {margin-bottom: 12px}
  
}

.contact-content
{
  a {
    font-family: Montserrat-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
  }
  
  a:focus {
    outline: none !important;
  }
  
  a:hover {
    text-decoration: none;
    color: #57b846;
  }
  
  /*---------------------------------------------*/
  h1,h2,h3,h4,h5,h6 {
    margin: 0px;
  }
  
  p {
    font-family: Montserrat-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
  }
  
  ul, li {
    margin: 0px;
    list-style-type: none;
  }
  
  
  /*---------------------------------------------*/
  input {
    outline: none;
    border: none;
  }
  
  textarea {
    outline: none;
    border: none;
  }
  
  textarea:focus, input:focus {
    border-color: transparent !important;
  }
  
  input:focus::-webkit-input-placeholder { color:transparent; }
  input:focus:-moz-placeholder { color:transparent; }
  input:focus::-moz-placeholder { color:transparent; }
  input:focus:-ms-input-placeholder { color:transparent; }
  
  textarea:focus::-webkit-input-placeholder { color:transparent; }
  textarea:focus:-moz-placeholder { color:transparent; }
  textarea:focus::-moz-placeholder { color:transparent; }
  textarea:focus:-ms-input-placeholder { color:transparent; }
  
  input::-webkit-input-placeholder { color: #aaaaaa; }
  input:-moz-placeholder { color: #aaaaaa; }
  input::-moz-placeholder { color: #aaaaaa; }
  input:-ms-input-placeholder { color: #aaaaaa; }
  
  textarea::-webkit-input-placeholder { color: #aaaaaa; }
  textarea:-moz-placeholder { color: #aaaaaa; }
  textarea::-moz-placeholder { color: #aaaaaa; }
  textarea:-ms-input-placeholder { color: #aaaaaa; }
  
  /*---------------------------------------------*/
  button {
    outline: none !important;
    border: none;
    background: transparent;
  }
  
  button:hover {
    cursor: pointer;
  }

  
  iframe {
    border: none !important;
  }
  
  
  
  
  /*//////////////////////////////////////////////////////////////////
  [ Contact ]*/
  
  .bg-contact100 {
    width: 100%;  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  
  .container-contact100 {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: rgba(132,106,221,0.9);
  }
  
  .wrap-contact100 {
    width: 100%;;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 110px 130px 157px 148px;
  }
  
  /*------------------------------------------------------------------
  [  ]*/
  .contact100-pic {
    width: 310px;
    padding-top: 55px;
  }
  
  .contact100-pic img {
    max-width: 100%;
  }
  
  
  /*------------------------------------------------------------------
  [  ]*/
  .contact100-form {
    width: 390px;
  }
  
  .contact100-form-title {
    display: block;
    font-family: Montserrat-ExtraBold;
    font-size: 24px;
    color: #333333;
    line-height: 1.2;
    text-align: left;
    padding-bottom: 36px;
  }
  
  input.input100 {
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 50px;
  }
  
  input.input100[name="email"] {
    padding: 0 30px 0 54px;
  }
  
  textarea.input100 {
    min-height: 150px;
    border-radius: 25px;
    padding: 14px 30px;
  }
  
  /*---------------------------------------------*/
  .wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
  }
  
  .input100 {
    display: block;
    width: 100%;
    background: #e6e6e6;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
  }
  
  
  /*------------------------------------------------------------------
  [ Focus ]*/
  .focus-input100 {
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(132,106,221, 0.5);
  }
  
  .input100:focus + .focus-input100 {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
  }
  
  @-webkit-keyframes anim-shadow {
    to {
      box-shadow: 0px 0px 60px 25px;
      opacity: 0;
    }
  }
  
  @keyframes anim-shadow {
    to {
      box-shadow: 0px 0px 60px 25px;
      opacity: 0;
    }
  }
  
  .symbol-input100 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 30px;
    pointer-events: none;
    color: #aaaaaa;
    font-size: 15px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .input100:focus + .focus-input100 + .symbol-input100 {
    color: #846add;
    padding-left: 22px;
  }
  
  /*------------------------------------------------------------------
  [ Button ]*/
  .container-contact100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
  }
  
  .contact100-form-btn {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #846add;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .contact100-form-btn:hover {
    background: #333333;
  }
  
  /*------------------------------------------------------------------
  [ Responsive ]*/
  
  @media (max-width: 1200px) {
    .contact100-pic {
      width: 33.5%;
    }
  
    .contact100-form {
      width: 44%;
    }
  }
  
  @media (max-width: 992px) {
    .wrap-contact100 {
      padding: 110px 80px 157px 90px;
    }
  
    .contact100-pic {
      width: 35%;
    }
  
    .contact100-form {
      width: 55%;
    }
  }
  
  @media (max-width: 768px) {

    .wrap-contact100 {
      padding: 110px 80px 157px 80px;
    }
  
    .contact100-pic {
      display: none;
    }
  
    .contact100-form {
      width: 100%;
    }
  }
  
  @media (max-width: 576px) {
    .wrap-contact100 {
      padding: 110px 15px 157px 15px;
    }
  }
  
  
  /*------------------------------------------------------------------
  [ Alert validate ]*/
  
  .validate-input {
    position: relative;
  }
  
  .alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: white;
    border: 1px solid #c80000;
    border-radius: 13px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
    pointer-events: none;
  
    font-family: Montserrat-Medium;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
  
    visibility: hidden;
    opacity: 0;
  
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }
  
  .alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 13px;
  }
  
  .alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
  }
  
  @media (max-width: 992px) {
    .alert-validate::before {
      visibility: visible;
      opacity: 1;
    }
  }
}
