<div class="wrapper">
  <app-header></app-header>
  <div class="donate-content">
    <!-- ======= About Us Section ======= -->
    <section class="about services">
      <div class="row">
        <div class="col-md-12 page-title abt-img mb-4">
          Donate  
        </div>
      </div>
      <div class="container">
        <div class="help-section"><p>Educate Girls works in India’s rural and educationally backward areas. Educate Girls is a non-profit that focuses on mobilizing communities for girls’ education. Donate Now. </p><span class="xs-separetor v3"></span></div>
        <section class="make-donate">
          <div class="container">
              <div class="row">
                  <div class="col-md-6">
                      <div class="wrap-content-img">
                          <img src="assets/img/images/grouppic.jpeg" class="img-family" alt='...'>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="wrap-content-form">
                          <h1 class="xs-title">Make a donation</h1>
                          
                          <hr class="seperator-xs" />
                          <div id="xs-donation-form" class="xs-donation-form">
                              <div class="xs-input-group">
                                  <label for="xs-donate-name">Donation Amount </label>

<div class="donation-group">
   
   <button class="donate-option" (click)="add('100')">INR 100</button>
   <button class="donate-option" (click)="add('500')">INR 500</button>
   <button class="donate-option" (click)="add('1000')">INR 1000</button>
   <button class="donate-option" (click)="showCustomOption()">CUSTOM</button>

</div>

                                  <input [hidden]="!showCustom" type="text" [(ngModel)]="amnt"   name="name" id="xs-donate-name" class="form-control" placeholder="Minimum of INR 5">
                              </div><!-- .xs-input-group END -->

                              <button type="submit" (click)="proceed()" class="btn btn-warning"><span class="badge"><i class="fa fa-heart"></i></span> Donate now</button>
                            </div>
                            
                      </div>
                  </div>
              </div>
          </div>
          </section>
    </div>
</section>
 
  </div>
  <app-footer></app-footer>
</div>
